@model NBD6.Models.Bid

@{
    ViewData["Title"] = "Create";
}

<h1>Bid Create</h1>

<h4>Bid</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BidName" class="control-label"></label>
                <input asp-for="BidName" class="form-control" />
                <span asp-validation-for="BidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BidStart" class="control-label"></label>
                <input asp-for="BidStart" class="form-control" />
                <span asp-validation-for="BidStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BidEnd" class="control-label"></label>
                <input asp-for="BidEnd" class="form-control" />
                <span asp-validation-for="BidEnd" class="text-danger"></span>
            </div>

            <div id="labours-container">
                <div class="labour-input">
                    <div class="form-group">
                        <label asp-for="Labours" class="control-label"></label>
                        <input asp-for="Labours" class="form-control" />
                        <span asp-validation-for="Labours" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <button type="button" id="add-labour-btn" class="btn btn-primary">Add Another Labour</button>

            <div class="form-group">
                <label asp-for="project" class="control-label">Project<span class="text-danger">*</span></label>
                <select id="ProjectSummary" asp-for="ProjectID" class="form-control" asp-items="ViewBag.ProjectID">
                    <option value="">Select a Project</option>
                    @if (TempData["NewProjectID"] != null)
                    {
                        <option value="@TempData["NewProjectID"]" selected>@TempData["NewProjectSummary"]</option>
                    }
                </select>
                <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Create">Create a new Project</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('#add-labour-btn').click(function () {
                var lastLabourInput = $('.labour-input').last();
                var newLabourInput = lastLabourInput.clone();
                newLabourInput.find('input').val(''); // Clear input value
                $('#labours-container').append(newLabourInput);
            });
        });
    </script>
}
