@model NBD6.Models.Bid

@{
    ViewData["Title"] = "Edit";
}

<h1>Bid Edit</h1>

<form asp-action="Edit">
<div class="row">
    <div class="col-md-6">
        <h4>Bid</h4>
        <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BidID" />
            <div class="form-group">
                <label asp-for="BidName" class="control-label"></label>
                <input asp-for="BidName" class="form-control" />
                <span asp-validation-for="BidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BidStart" class="control-label"></label>
                <input asp-for="BidStart" class="form-control" />
                <span asp-validation-for="BidStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BidEnd" class="control-label"></label>
                <input asp-for="BidEnd" class="form-control" />
                <span asp-validation-for="BidEnd" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProjectID" class="control-label"></label>
                <select asp-for="ProjectID" class="form-control" asp-items="ViewBag.ProjectID"></select>
                <span asp-validation-for="ProjectID" class="text-danger"></span>
            </div>
            
        <!-- Material Fields -->
        <h4>Material</h4>
        <hr />
            <div class="form-group">
                <label asp-for="Material.MaterialType" class="control-label"></label>
                <input asp-for="Material.MaterialType" class="form-control" />
                <span asp-validation-for="Material.MaterialType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material.MaterialQuantity" class="control-label"></label>
                <input asp-for="Material.MaterialQuantity" class="form-control" />
                <span asp-validation-for="Material.MaterialQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material.MaterialDescription" class="control-label"></label>
                <input asp-for="Material.MaterialDescription" class="form-control" />
                <span asp-validation-for="Material.MaterialDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material.MaterialSize" class="control-label"></label>
                <input asp-for="Material.MaterialSize" class="form-control" />
                <span asp-validation-for="Material.MaterialSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material.MaterialPrice" class="control-label"></label>
                <input asp-for="Material.MaterialPrice" class="form-control" />
                <span asp-validation-for="Material.MaterialPrice" class="text-danger"></span>
            </div>
        
    </div>

    <!-- Labor Fields -->
    <div class="col-md-6">
        <h4>Labor</h4>
        <hr />
            <div class="form-group">
                <label asp-for="Labour.LabourHours" class="control-label"></label>
                <input asp-for="Labour.LabourHours" class="form-control" />
                <span asp-validation-for="Labour.LabourHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Labour.LabourDescription" class="control-label"></label>
                <input asp-for="Labour.LabourDescription" class="form-control" />
                <span asp-validation-for="Labour.LabourDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Labour.LabourPrice" class="control-label"></label>
                <input asp-for="Labour.LabourPrice" class="form-control" />
                <span asp-validation-for="Labour.LabourPrice" class="text-danger"></span>
            </div>       
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</div>
</form>

<div class="col-md-1">
    <div>
        <a class="nav-link text-dark" href="javascript:history.back()">Go Back</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}