@model NBD6.Models.Bid

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div class="row">
    <div class="col-md-6">
        <h4>Bid</h4>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BidID" />
            <div class="form-group">
                <label asp-for="BidName" class="control-label"></label>
                <input asp-for="BidName" class="form-control" />
                <span asp-validation-for="BidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BidStart" class="control-label"></label>
                <input asp-for="BidStart" class="form-control" />
                <span asp-validation-for="BidStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BidEnd" class="control-label"></label>
                <input asp-for="BidEnd" class="form-control" />
                <span asp-validation-for="BidEnd" class="text-danger"></span>
            </div>

            <!-- Bid Labor Section -->
            <h4>Bid Labor</h4>
            <hr />
            <div class="form-group">
                <label asp-for="LabourHours" class="control-label"></label>
                <input asp-for="LabourHours" class="form-control" />
                <span asp-validation-for="LabourHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LabourDescription" class="control-label"></label>
                <input asp-for="LabourDescription" class="form-control" />
                <span asp-validation-for="LabourDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LabourPrice" class="control-label"></label>
                <input asp-for="LabourPrice" class="form-control" />
                <span asp-validation-for="LabourPrice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProjectID" class="control-label"></label>
                <select asp-for="ProjectID" class="form-control" asp-items="ViewBag.ProjectID"></select>
                <span asp-validation-for="ProjectID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        <h4>Bid Material</h4>
        <hr />
            <div class="form-group">
                <label asp-for="MaterialType" class="control-label"></label>
                <input asp-for="MaterialType" class="form-control" />
                <span asp-validation-for="MaterialType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaterialQuantity" class="control-label"></label>
                <input asp-for="MaterialQuantity" class="form-control" />
                <span asp-validation-for="MaterialQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaterialDescription" class="control-label"></label>
                <input asp-for="MaterialDescription" class="form-control" />
                <span asp-validation-for="MaterialDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaterialSize" class="control-label"></label>
                <input asp-for="MaterialSize" class="form-control" />
                <span asp-validation-for="MaterialSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaterialPrice" class="control-label"></label>
                <input asp-for="MaterialPrice" class="form-control" />
                <span asp-validation-for="MaterialPrice" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
